
<nav class="bg-gray-800 py-4">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <img src="/static/logo.png" alt="Blockchain Explorer" class="h-8 w-8 mr-4" />
        </div>
        <ul class="flex items-center">
            <!-- <li class="mr-6">
                <a href="/" class="text-gray-300 hover:text-white">Home</a>
            </li> -->
            <li class="mr-6">
                <a href="https://zentra.dev" class="text-gray-300 hover:text-white">Zentra</a>
            </li>
            <li class="mr-6">
                <a href="https://github.com/0xZentra/whitepaper" class="text-gray-300 hover:text-white">Theory</a>
            </li>
            <li class="mr-6">
                <a href="https://zentra.gitbook.io" class="text-gray-300 hover:text-white">Docs</a>
            </li>
            <li class="mr-6">
                <a href="https://x.zentra.dev/airdrop/" class="text-gray-300 hover:text-white">Airdrop</a>
            </li>
            <li class="mr-6">
                <a href="https://x.zentra.dev/bridge/" class="text-gray-300 hover:text-white">Bridge</a>
            </li>
            <li class="mr-6">
                <a href="https://x.zentra.dev/wallet/" class="text-gray-300 hover:text-white">Wallet</a>
            </li>
            <li class="mr-6">
                <a href="https://mainnet.zentra.dev" class="text-gray-300 hover:text-white">Mainnet</a>
            </li>
            <li class="mr-6">
                <a href="https://testnet3.zentra.dev" class="text-gray-300 hover:text-white">Testnet 3</a>
            </li>
            <li class="mr-6">
                <a href="https://x.com/0xZentra" class="text-gray-300 hover:text-white">Twitter</a>
            </li>
            <li class="mr-6">
                <a href="https://github.com/0xZentra" class="text-gray-300 hover:text-white">Github</a>
            </li>
            <li class="mr-6">
                <a href="/blocks" class="text-gray-300 hover:text-white">Blocks</a>
            </li>
            <li class="mr-6">
                <a href="/state" class="text-gray-300 hover:text-white">State</a>
            </li>
        </ul>
    </div>
</nav>
