<html>
<head>
    <title>Transaction</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    {% include 'nav.html' %}

    <div class="container mx-auto">
        <div class="bg-white rounded p-4 border border-gray-300 my-4">
            <h2 class="text-2xl font-bold">Transaction Details</h2>
            Transaction Hash: {{ handler.tx_hash }}<br>
            Transaction Index: {{ handler.tx_index }}<br>
            From: <a href="/address?addr={{ handler.sender }}">{{ handler.sender }}</a><br><br>

            Block Hash: <a href="/block?chain={{ handler.chain }}&blockhash={{ handler.block_hash }}">{{ handler.block_hash }}</a><br>
            Block Height: {{ handler.block_number }}<br><br>
            <pre style="white-space: pre-wrap; word-break: break-all; line-break: anywhere;">{{ handler.value_json }}</pre>
            <br><br>
        </div>
    </div>

</body>
</html>
